.header {
    padding: 10px;
    background-color: black;
    font-family: $title-font, sans-serif;
    color: white;
    font-size: 2rem;

    .logo {
        span {
            vertical-align: middle;
            text-transform: uppercase;
        }

        img {
            margin-right: 20px;
        }
    }
}
