.header {
    padding: 10px 25px;
    background-color: black;
    font-family: $font-title, sans-serif;
    color: white;
    font-size: 2rem;

    .logo {
        display: inline-block;

        img {
            margin-right: 20px;
        }

        &-text {
            display: inline-block;
            text-transform: uppercase;
            margin-top: 4px;
            vertical-align: top;
        }
    }

    .button {
        float: right;
        margin-top: 5px;
        margin-left: 13px;
    }

    .currency {
        display: inline;
    }
}
