#inventory {
    margin-top: 20px;

    th {
        padding: 12px 8px;
        font-family: $font-title;
        text-transform: uppercase;
        font-size: 1.5em;
        // background: #CCC;
        background: $light-grey;
        color: white;
    }

    tbody tr {
        td,
        th {
            vertical-align: middle;
        }

        td img {
            height: 100px;
        }

        &:nth-child(even) {
            background: #F7F7F7;
        }
    }

    .price,
    .qty,
    .title {
        font-family: $font-title;
        text-align: center;
    }
    .qty {
        font-size: 1.2em;
    }

    .price {
        font-size: 1.4em;
    }

    .description {
        font-size: 13px;
    }
    .date {
        font-size: 12px;
        text-align: center;
    }
    .category {
        text-align: center;
    }
}

.low-stock {
    background-color: #f4a9a9;

    td.qty {
        color: $red;
        font-weight: bold;
    }
}
